
body {
text-align: center; 
background-image: url("NVBC.jpg");
background-attachment: fixed;
background-repeat: repeat-y;
background-size: cover;
background-position: center;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
