
body {
text-align: center;
background-image: url("NVBC.jpeg");
background-repeat: no-repeat;
background-attachment: relative;
background-size: contain;
}

input {
  font-size: 2.00em;
            color: DarkBlue;
    text-align: center;	
    align-self : center;
    
    }
 
.center {
margin: 0;
position: fixed;
top: 50%;
left: 50%;
-ms-tran1sform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

p {text-align: center;
 color:Green;
    text-shadow: 2px 2px Black, 5px 5px 10px black;
font-size: 2.50em;
    } 

label {
  font-size: 4.00em;
            color: Blue;
    text-shadow: 4px 3px Black, 5px 5px 10px black;
    }
    
